:root {
	/* Colors */
	--primary: #5a7d9a;
	--highlight: #f7f3f0;
	--white: rgba(255, 255, 255, 1);
	--off-white: #fbfaf9;
	--grey-1: #f5f3f2;
	--grey-2: #ebe7e6;
	--grey-3: #595756;
	--grey-4: #424040;
	--black: #2b2523;

	/* Typography */
	--font-family: Lato, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
